.wd3{
    width: 40%;
    height: 400px;
  
    margin-top: 70px;
}
#app { height: 100% }






.swiper-slide {
  font-size: 18px;
  display: block;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px;
}


.widts{
  width: 55%;
}



  .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
} */
@media only screen and (max-width: 900px) and (min-width: 700px)  {
  /* .subs4{
    margin-right: 40%;
  } */
  .subb44{
    display: block;
  }
  .wd3{
    width: 60%;
    margin: auto;
    margin-top: 5%;
  }
  .widts {
    width: 78%;
    margin: auto;
  }
}

@media only screen and (max-width: 700px) and (min-width: 600px)  {
 .subs4{
    margin-right: 20%;
  }
  .subb44{
    display: block;
  }
  .wd3{
    width: 60%;
    margin: auto;
    margin-top: 5%;
  }
  .widts {
    width: 78%;
    margin: auto;
  }
}

@media only screen and (max-width: 600px) and (min-width: 400px)  {
  .subs4{
    margin-right: 15%;
  }
  .subb44{
    display: block;
  }
  .wd3{
    width: 60%;
    margin: auto;
    margin-top: 5%;
  }
  .widts {
    width: 78%;
    margin: auto;
  }
}