
  
  .slider7 {
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: relative;
    overflow: hidden; /* <===  */
    border-radius: 15px;
  }
  
  .slide7 {
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: absolute;
    transition: all 0.5s;
  }
  
  .slide7 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .btn7 {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;

    z-index: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
  }
  .btn7:active {
    transform: scale(1.1);
  }
  .btn-prev7 {
    top: 45%;
    left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn-next7 {
    top: 45%;
    right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  @media only screen and (max-width: 600px) and (min-width: 500px){
    .slider7{
      height: 280px;
    }
  }


  @media only screen and (max-width: 500px) and (min-width: 400px){
    .slider7{
      height: 210px;
    }
  }
  @media only screen and (max-width: 400px) and (min-width: 300px){
    .slider7{
      height: 160px;
    }
  }
  @media only screen and  (max-width: 900px){
    .slider7{
      width: 68%;
    }
  }