

.cont{
    background-color: #F2F6FF;
    
}

.head{
    margin-top: 5%;
    margin-left: 31%;
}

.p_here{
    margin-top: 2%;
    font-weight: 400;
}

.search{
    margin-left: 40%;
    margin-right: 20%;
}

.my_form{
    margin-right: 12%;
}
.parent{
  
    display: flex;
    flex-direction: row;
    margin-bottom: 6%;
    
}



.child-1{
    width: 14%;
    height: 164%;
    margin-top: -4%;
    padding-top: 3%;
    margin-left: 10%;
    padding-bottom: 1%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5%;
    background-color:white;
}

.child-1 >h3{
    font-weight: 900;
    font-size:70px;
    color: rgb(101, 100, 100);
    margin-left: 32%;
    margin-top: -10%;
}

.child-1>p{
    color: red;
    margin-left: 30%;
}

.child-2{
    display: flex;
    margin-left: 4%;
    margin-top: -3%;
    width: 65%;
    border-radius: 10px;
    border-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background-color:white;
}

.data_div{
    margin-left: 20px;
    margin-top: 25px;
}

.fs-3{
    color: red;
    margin-top: -5px;
    margin-right: 6px;
}

.time_data{
    display: flex;
    margin-top: 7%;
}

.border-2 {
    width: 50%;
    height: 0px;
    margin-top: 10px;
}

.hour_p{
    margin-left: 43%;
    margin-bottom: -4%;
}

.duration_p{
    margin-left: 36%;
    margin-top: -6%;
    margin-bottom: -19%;
}

.btm_div{
    display: flex;
    justify-content:space-around;
    margin-top: 6%;
}

.std_num{
    margin-top: -1.5%;
    margin-left: -9%;
}

.my_txt{
    margin-top: -2%;
    margin-left: -9%;
}

.time-1{
    margin-top: -8%;
}
.time-2{
    margin-top: -8%;
}

.pm-1{
    margin-top: 25%;
    margin-left: 4%;
}

.pm-2{
    margin-top: 25%;
}

.rec_btn{
    background-color: red;
    color: white;
}

.rec_btn:hover{
    background-color: rgb(238, 59, 59);
    color:white;
    
}

.btns_div{
    margin-left: 8%;
}

.rec_div{
    margin-left: -1%;
    margin-top: 11%;
}

.hr_here{
    margin-top: 25%;
}



