

.mainimage img{
    width: 100%;
}
.topsec1{
    display: flex;
   
    margin-top: -1.8%;
    padding: 1%;
    background-color: #fcfafa;
}

.topsec1 >div:nth-child(1){
    
    width: 60%;
    padding:5%;
}


.topsec1 >div:nth-child(2){
    padding:5%;
  
}

.topsec1 >div:nth-child(2) img{
    width: 60%;
    margin-left: 33%;
    border-radius: 20px;
    z-index: 1;
}

.topsec1>div>h1{
    font-size: 35px;
}

.topsec1 >div:nth-child(1) button{
 padding: 10px 20px;
 border-radius: 8px;
 border: none;
 color: white;
 background-color: red;
 font-weight: 500;
}
.topsec1 span{
    color: red;
}

/* .title{
    margin-top: -20%;
    width: 40%;
    height: 40%;
    background-color: green;
} */

.sec2Main{
    display: flex;
    text-align: center;
   justify-content: center;
   font-weight: 700;
}
.sec2Main span{
    color: red;
}

.brt{
   width: 70%;
   margin-top: 10%;
    border: 1px solid rgb(32, 29, 29);
    border-radius: 10px;
    padding: 7px;
}
.brt:focus{
    border: 2px solid red;
    color: red;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.hel{
    display: flex;
}
.dat{
    width: 63%;
    border-radius: 20px;
    background-color: rgb(247,247,255);
}
.vit{
    border-radius: 10px;
}
.div1{
    border-radius: 10px;
    background-color: rgb(26,159,189);
}
.wit{
    width: 70%;
}
.img5{
    width: 60%;
}

.wid{
    border-radius: 10px;
    padding: 14px;
}

.bg1{
    background-color: rgb(158,160,221)
    ;
}
.bg2{
    background-color: #1a9fbd;

}
.tex{
    color: #6e71cc;
}
.tex2{
    color: #1a9fbd;
}

.bg3{
    background-color:#6e71cc ;
    border-radius: 12px;
}
.bg4{
    background-color: #1a9fbd;
    border-radius: 12px;
}