.main{
 display: flex;
 width: 85%;
 margin: auto;
 margin-top: 1.7%;
 justify-content: space-between;
 margin-bottom: 1%;
 
}
.middle{
    display: flex;
     width: 52%;
    font-size: small;
    justify-content: space-between;
    margin-top: 1%;
    
   
}


.link{
    color: black;
    text-decoration: none;
    font-weight: 500;
    left: 0;
}
.link:hover{
color: rgb(230, 14, 14);
}
.last >button{
    padding: 10px 20px;
}

.last >button:nth-child(1){
    padding: 10px 5px;
    border: none;
    border-radius: 8px;
    margin-right: 10px;
    background-color: #e5feff;
    color:#7598ea;
  
}

.last >button:nth-child(1):hover{
    background-color: #b6f1f3;
}

.link:nth-child(1){
    padding-top: 40px;
}
/* #navbar-hamburger{
    position: absolute;
} */

/* .last >button:nth-child(2){
    padding: 10px 20px;
    border-radius: 8px;
    border:2px solid red;
    color: red;
    font-weight: 600;
    background-color: white;
} */

/* .last >button:nth-child(2):hover{
  background-color: rgb(251, 218, 218);
} */



@media screen and ( max-width: 960px){ 
    .dt11{
        display: none;
    }
    .shad{
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
       position: absolute;
       width: 100vw;
       margin-bottom: 10px;
       padding: 7px;
       margin-left: -10%;
       margin-top: 50px;
      
    }.link{
        color: black;
       width: 100%;
       /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
        text-decoration: none;
        font-weight: 500;
        padding: 20px;
        margin-left: 0px;
       
        margin-top: -29px;
        
    }
}
@media screen and ( max-width: 470px){ 
    /* .last >button:nth-child(2){
        padding: 4px 10px;
        
    } */
    .last >button:nth-child(1){
        display: none;
        
    }
    
}
@media screen and ( max-width: 400px){ 
    /* .last >button:nth-child(2){
        padding: 0px 1px;
        
    } */
    .last >button:nth-child(1){
        padding: 0px 1px;
        
    }
    
}

@media only screen and (max-width: 370px){
    .last >button:nth-child(1){
        margin-right: 0px;
    }
}
@media only screen and (min-width: 960px){
    .stnav{
        display: none;
    }

}
/* @media only screen and (max-width: 960px){
    .stnav{
        margin-left: -33%;
    }

} */

@media only screen and (max-width: 445px){
    .refd{
        display: block;
    }
}

@media only screen and (min-width: 470px){
    .ref2{
        display: none;
    }
}
@media only screen and (min-width: 300px)and (max-width: 570px){
   .shad{
    margin-left: -14%;
   }
}


